body
{
  background-color: lightyellow;
}
h1
{
  color: darkblue;
  text-align: center;
}
img {
  transition: filter 0.3s ease; /* code says that there will be a filter transition applied to the image lasting 0.3s with a 0.3 second delay */
}
img:hover { /* This transition fully inverts colors on mouse hover */
  filter: invert(1);
}
button /* Added button style with transition effects */
{
  transition: color 0.3s ease width 0.3s ease height 0.3s linear font-size 0.3s ease text-decoration 0.3s ease font-weight 0.3s ease font-color 0.3s ease;
}
button:hover /* On hover, the button changes background color and text styles */
{
  background-color: lightblue;
  width: 100%;
  height: 200px;
  font-size: 24px;
  text-decoration: underline;
  font-weight: bold;
  color: red;
}