body
{
  background-color: lightyellow;
}
h1
{
  color: darkblue;
  text-align: center;
}
img {
  transition: filter 0.3s ease; /* code says that there will be a filter transition applied to the image lasting 0.3s with a 0.3 second delay */
}
img:hover { /* This transition fully inverts colors on mouse hover */
  filter: invert(1);
}